{% extends 'base.html.twig' %}

{% block title %}BestOnes{% endblock %}

{% block body %}
    <h1>BestOnes</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ best_one.id }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ best_one.description }}</td>
            </tr>
            <tr>
                <th>Published</th>
                <td>{{ best_one.published ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Creator</th>
                <td>{{ best_one.Creator}}</td>
            </tr>
            
            <tr>
                <th>TvShows</th>
                <td>
                    <ul>
                    {% for tvshow in best_one.tvshows %}
                    <li>
                        <a href="{{ path( 'app_bestones_tvshow_show',
                       {
                         'bestones_id': best_one.id,
                         'tvshow_id' : tvshow.id
                       }
                     ) }}">{{ tvshow }}</a>
                    </li>
                    {% endfor %}
                    </ul>
                </td>
            </tr>
                        
        </tbody>
    </table>

    <a href="{{ path('app_best_ones_index') }}">back to list</a>

    <a href="{{ path('app_best_ones_edit', {'id': best_one.id}) }}">edit</a>

    {{ include('best_ones/_delete_form.html.twig') }}
{% endblock %}
