{% extends 'base.html.twig' %}

{% block title %}TvShow index{% endblock %}

{% block body %}
    <h1>TvShow index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Year</th>
                <th>Director</th>
                <th>Note</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tv_show in tv_shows %}
            <tr>
                <td>{{ tv_show.id }}</td>
                <td>{{ tv_show.name }}</td>
                <td>{{ tv_show.year }}</td>
                <td>{{ tv_show.director }}</td>
                <td>{{ tv_show.note }}</td>
                <td>
                    <a href="{{ path('app_tv_show_show', {'id': tv_show.id}) }}">show</a>
                    <a href="{{ path('app_tv_show_edit', {'id': tv_show.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_tv_show_new') }}">Create new</a>
{% endblock %}
