{% extends 'base.html.twig' %}
{% block title %}Online Catalog n° {{onlinecatalog.id }}{% endblock %}

{% block body %}
    <h1>Online Catalog n° {{onlinecatalog.id }}</h1>


    <table class="table">
        <tbody>
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Link</th>
            </tr>
            </thead>
            {% for tvshows in onlinecatalog.getTvshow %}

            <tr>
                <td>{{ tvshows.id }}</td>
                <td>{{ tvshows.name }}</td>
                <td><a href="{{ path('app_tv_show_show', {'id': tvshows.id}) }}">show</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


<a href="{{ path('app_online_catalog') }}" class="btn btn-primary">back to list of catalogs</a>
{% endblock %} {# body #} 
